@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #005F8C;
    font-family: 'Poppins', sans-serif;
}
.game__container {
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
}
.container {
    text-align: center;
}


/* Imagem */
#imagem {
    background-image: url("../img/dino0.png");
    background-repeat: no-repeat;
    height: 288px;
    width: 234px;
    margin: 0;
}

/* Palavra escolhida */
#palavra-escolhida {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    text-align: center;
}

.letras {
    width: 16px;
    text-align: center;
    border-bottom: 2px solid #239BD9;
    color: #ffffff;
    padding: 0;
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
}

/* Teclado */
#teclado {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.teclas button {
    cursor: pointer;
    box-shadow: 0px 1px 5px #0c2836;
    border-radius: 5px;
    margin: 3px 5px 5px;
    border: 2px solid transparent;
    color: #005F8C;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.verde {
    background-color: #0FD9AD;
    color: #ffffff;
}

.vermelho {
    background-color: #E64007;
    color: #ffffff;
}

.teclas button:hover {
    transform: scale(1.1);
}

.teclas button:disabled {
    cursor: not-allowed;
}

/* Categoria */

#categoria {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}


/* --------------------------------------------BOTÃO VOLTAR ----------------------------------------------------- */
.botao-voltar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.voltar {
    width: 100%;
    height: 50px;
    margin: 25px 20px;
    font-family: 'poppins',
        sans-serif;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
    background-color: #004466;
    border: solid transparent;
    box-shadow: 2px 2px #002E45;
    cursor: pointer;
}

.voltar:hover {
    transform: scale(1.1);
}

.voltar a {
    color: #ffffff;
    text-decoration: none;
}

